<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YTS</title>
    <link rel="shortcut icon" type="images" href="images/logo.jpg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <header class="header">
      <a href="index.html" class="logo">
        <i class="fas fa-user-graduate"></i> YTS
      </a>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="./about.html">ABOUT</a></li>
          <li><a href="./gallery.html">GALLERY</a></li>
          <!-- <li><a href="./blog.html">BLOG</a></li> -->
          <li><a href="./contact.html">CONTACT US</a></li>
          <li><a href="placements.html">PLACEMENTS</a></li>
          <li><a href="./login.html">LOGIN</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
<!-- --------------------garlley-------------------- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../images/styleG.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css "
    />
    
</head>
<body>
  <section>
    <!-- ------------------------------------------- -->
    <div class="container">

      <h1 class="heading"></i>Image Gallery <span></span></h1>
    
      <div class="gallery">
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu10.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
         
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu1.jpg" alt="sunset behind San Francisco city skyline">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu8.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu7.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu6.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu5.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
        </div>
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu4.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu3.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="../images/restu2.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
        </div>
    
      </div>
    
    </div>
    <!-- --------------1--------------------- -->
    <!-- -------------------------slider------------------- -->


    <!-- -------------------------slider------------------- -->

    <div class="mane"></div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu10.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h3>60% off </h3>
            <h3 id="text">Rs 300 </h3> 
            <h4>Rs 360</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
            <button >BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
        </div>
      <!-- </div> -->
      <!-- -------------------2-------------------- -->
        <div class="cards">
         <div class="images">
           <img src="../images/restu8.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nihil.</p>
            <h3>60% off </h3>
            <h3 id="text">Rs 300</h3> 
            <h4>Rs 360</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
<!-- --------------------3----------------------------- -->
      </div>
        <div class="cards">
          <div class="images">
            <img src="../images/restu8.jpg"
          </div>
          <hr>
          <div class="titel">
            <h1>titel</h1>
          </div>
          <div class="des">
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
             <h3>60% off </h3>
             <h3 id="text">Rs 300</h3> 
             <h4>Rs 360</h4>
             <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
            <button>BY NOW</button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
          </div>
         </div>
<!-- -------------------4-------------------------------- -->
        </div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu7.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
<!-- -------------------5---------------------------- -->
       </div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu6.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>

<!-- -----------------------------6-------------------------------- -->
      </div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu5.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
<!-- --------------------------7--------------------------- -->
        </div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu4.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
     </div>
     <!-- --------------------8----------------- -->
        <div class="cards">
         <div class="images">
           <img src="../images/restu3.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
           <button>BY NOW</button>
           <button>Add to card</button>
         </div>
        </div>
<!-- ------------------------9----------------------------- -->
        </div>
        <div class="cards">
         <div class="images">
           <img src="../images/restu2.jpg"
         </div>
         <hr>
         <div class="titel">
           <h1>titel</h1>
         </div>
         <div class="des">
          <h3>60% off </h3>
          <h3 id="text">Rs 300</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, sequi!</p>
            <h4>Rs 30</h4>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-sharp fa-regular fa-star-half-stroke"></i>
             </div>
            <button> BY now
            </button>
            <button>Add to card</button>
         </div>
        </div>
    </section>
    <!-- ---------------------------------------------------------------------- -->
    <script src="./java.js"></script>
  </body>

</html>